
/**
 * @file
 * Convert mixings to classes.
 */


.margin {margin;}
.mtop {mtop;}
.mbottom {mbottom;}
.mleft {mleft;}
.mright {mright};
.nomargin {padding: 0; !important}
.padding {padding;}
.ptop {ptop;}
.pbottom {pbottom;}
.pleft {p-left;}
.pright {p-right};
.nopadding {padding: 0; !important}
.nomarding {margin: 0 !important; padding: 0 !important;}

.clearfix {clearfix;}
.element-invisible {element-invisible;}
.link {link;}
.link-block {link-block;}
.css-button {css-button;}
.css-button-wide {css-button-wide;}
.tab-style {tab-style;}
.separated-menu {separated-menu;}